[user]
	email = kaiweimo5@gmail.com
	name = Kai Wei Mo
[alias]
    rbanch = branch
    barnch = branch
    brnach = branch
    bracnh = branch
    branhc = branch
    ranch = branch
    banch = branch
    brnch = branch
    brach = branch
    branh = branch
    branc = branch
    bbranch = branch
    brranch = branch
    braanch = branch
    brannch = branch
    brancch = branch
    branchh = branch
    nbranch = branch
    hbranch = branch
    vbranch = branch
    gbranch = branch
    bnranch = branch
    bhranch = branch
    bvranch = branch
    bgranch = branch
    bdranch = branch
    btranch = branch
    bfranch = branch
    beranch = branch
    brdanch = branch
    brtanch = branch
    brfanch = branch
    breanch = branch
    brqanch = branch
    brwanch = branch
    brzanch = branch
    brsanch = branch
    braqnch = branch
    brawnch = branch
    braznch = branch
    brasnch = branch
    bramnch = branch
    brahnch = branch
    brabnch = branch
    brajnch = branch
    branmch = branch
    branhch = branch
    branbch = branch
    branjch = branch
    brandch = branch
    branxch = branch
    branfch = branch
    branvch = branch
    brancdh = branch
    brancxh = branch
    brancfh = branch
    brancvh = branch
    brancnh = branch
    brancgh = branch
    brancuh = branch
    brancyh = branch
    brancbh = branch
    brancjh = branch
    branchn = branch
    branchg = branch
    branchu = branch
    branchy = branch
    branchb = branch
    branchj = branch
    nranch = branch
    hranch = branch
    vranch = branch
    granch = branch
    bdanch = branch
    btanch = branch
    bfanch = branch
    beanch = branch
    brqnch = branch
    brwnch = branch
    brznch = branch
    brsnch = branch
    bramch = branch
    brahch = branch
    brabch = branch
    brajch = branch
    brandh = branch
    branxh = branch
    branfh = branch
    branvh = branch
    brancn = branch
    brancg = branch
    brancu = branch
    brancy = branch
    brancb = branch
    brancj = branch

    hceckout = checkout
    cehckout = checkout
    chcekout = checkout
    chekcout = checkout
    checokut = checkout
    checkuot = checkout
    checkotu = checkout
    heckout = checkout
    ceckout = checkout
    chckout = checkout
    chekout = checkout
    checout = checkout
    checkut = checkout
    checkot = checkout
    checkou = checkout
    ccheckout = checkout
    chheckout = checkout
    cheeckout = checkout
    checckout = checkout
    checkkout = checkout
    checkoout = checkout
    checkouut = checkout
    checkoutt = checkout
    dcheckout = checkout
    vcheckout = checkout
    xcheckout = checkout
    fcheckout = checkout
    cdheckout = checkout
    cvheckout = checkout
    cxheckout = checkout
    cfheckout = checkout
    cgheckout = checkout
    cbheckout = checkout
    cnheckout = checkout
    cuheckout = checkout
    cjheckout = checkout
    cyheckout = checkout
    chgeckout = checkout
    chbeckout = checkout
    chneckout = checkout
    chueckout = checkout
    chjeckout = checkout
    chyeckout = checkout
    chdeckout = checkout
    chreckout = checkout
    chseckout = checkout
    chweckout = checkout
    chedckout = checkout
    cherckout = checkout
    chesckout = checkout
    chewckout = checkout
    chevckout = checkout
    chexckout = checkout
    chefckout = checkout
    checdkout = checkout
    checvkout = checkout
    checxkout = checkout
    checfkout = checkout
    checmkout = checkout
    checjkout = checkout
    checlkout = checkout
    checokout = checkout
    checikout = checkout
    checkmout = checkout
    checkjout = checkout
    checklout = checkout
    checkiout = checkout
    checkpout = checkout
    checkoput = checkout
    checkolut = checkout
    checkoiut = checkout
    checkokut = checkout
    checkojut = checkout
    checkoyut = checkout
    checkohut = checkout
    checkoujt = checkout
    checkouyt = checkout
    checkouit = checkout
    checkouht = checkout
    checkourt = checkout
    checkougt = checkout
    checkouft = checkout
    checkoutr = checkout
    checkouty = checkout
    checkoutg = checkout
    checkoutf = checkout
    dheckout = checkout
    vheckout = checkout
    xheckout = checkout
    fheckout = checkout
    cgeckout = checkout
    cbeckout = checkout
    cneckout = checkout
    cueckout = checkout
    cjeckout = checkout
    cyeckout = checkout
    chdckout = checkout
    chrckout = checkout
    chsckout = checkout
    chwckout = checkout
    chedkout = checkout
    chevkout = checkout
    chexkout = checkout
    chefkout = checkout
    checmout = checkout
    checjout = checkout
    checlout = checkout
    checoout = checkout
    checiout = checkout
    checkput = checkout
    checklut = checkout
    checkiut = checkout
    checkkut = checkout
    checkojt = checkout
    checkoyt = checkout
    checkoit = checkout
    checkoht = checkout
    checkour = checkout
    checkouy = checkout
    checkoug = checkout
    checkouf = checkout

    ocmmit = commit
    cmomit = commit
    comimt = commit
    commti = commit
    ommit = commit
    cmmit = commit
    comit = commit
    commt = commit
    commi = commit
    ccommit = commit
    coommit = commit
    commmit = commit
    commiit = commit
    committ = commit
    vcommit = commit
    xcommit = commit
    dcommit = commit
    fcommit = commit
    cvommit = commit
    cxommit = commit
    cdommit = commit
    cfommit = commit
    clommit = commit
    ciommit = commit
    ckommit = commit
    cpommit = commit
    colmmit = commit
    coimmit = commit
    cokmmit = commit
    copmmit = commit
    cojmmit = commit
    conmmit = commit
    comjmit = commit
    comnmit = commit
    comkmit = commit
    commjit = commit
    commnit = commit
    commkit = commit
    commoit = commit
    commuit = commit
    commijt = commit
    commiot = commit
    commiut = commit
    commikt = commit
    commirt = commit
    commift = commit
    commigt = commit
    commiyt = commit
    commitr = commit
    commitf = commit
    commitg = commit
    commity = commit
    vommit = commit
    xommit = commit
    dommit = commit
    fommit = commit
    clmmit = commit
    cimmit = commit
    ckmmit = commit
    cpmmit = commit
    cojmit = commit
    conmit = commit
    cokmit = commit
    comjit = commit
    comnit = commit
    comkit = commit
    commjt = commit
    commot = commit
    commut = commit
    commkt = commit
    commir = commit
    commif = commit
    commig = commit
    commiy = commit

    olg = log
    lgo = log
    og = log
    lg = log
    lo = log
    llog = log
    loog = log
    logg = log
    olog = log
    plog = log
    klog = log
    lpog = log
    lkog = log
    liog = log
    loig = log
    lolg = log
    lopg = log
    lokg = log
    lobg = log
    lohg = log
    loyg = log
    lovg = log
    lotg = log
    lofg = log
    logb = log
    logh = log
    logy = log
    logv = log
    logt = log
    logf = log
    oog = log
    pog = log
    kog = log
    lig = log
    llg = log
    lpg = log
    lkg = log
    lob = log
    loh = log
    loy = log
    lov = log
    lot = log
    lof = log

    tsatus = status
    sattus = status
    sttaus = status
    stauts = status
    statsu = status
    tatus = status
    satus = status
    sttus = status
    staus = status
    stats = status
    statu = status
    sstatus = status
    sttatus = status
    staatus = status
    stattus = status
    statuus = status
    statuss = status
    zstatus = status
    xstatus = status
    wstatus = status
    astatus = status
    dstatus = status
    estatus = status
    sztatus = status
    sxtatus = status
    swtatus = status
    satatus = status
    sdtatus = status
    setatus = status
    srtatus = status
    sftatus = status
    sgtatus = status
    sytatus = status
    stratus = status
    stfatus = status
    stgatus = status
    styatus = status
    stzatus = status
    stwatus = status
    stsatus = status
    stqatus = status
    staztus = status
    stawtus = status
    stastus = status
    staqtus = status
    startus = status
    staftus = status
    stagtus = status
    staytus = status
    statrus = status
    statfus = status
    statgus = status
    statyus = status
    stathus = status
    statjus = status
    statius = status
    statuhs = status
    statujs = status
    statuis = status
    statuys = status
    statuzs = status
    statuxs = status
    statuws = status
    statuas = status
    statuds = status
    statues = status
    statusz = status
    statusx = status
    statusw = status
    statusa = status
    statusd = status
    statuse = status
    ztatus = status
    xtatus = status
    wtatus = status
    atatus = status
    dtatus = status
    etatus = status
    sratus = status
    sfatus = status
    sgatus = status
    syatus = status
    stztus = status
    stwtus = status
    ststus = status
    stqtus = status
    starus = status
    stafus = status
    stagus = status
    stayus = status
    staths = status
    statjs = status
    statis = status
    statys = status
    statuz = status
    statux = status
    statuw = status
    statua = status
    statud = status
    statue = status

    upsh = push
    psuh = push
    puhs = push
    ush = push
    psh = push
    puh = push
    pus = push
    ppush = push
    puush = push
    pussh = push
    pushh = push
    lpush = push
    opush = push
    plush = push
    poush = push
    pyush = push
    pjush = push
    piush = push
    phush = push
    puysh = push
    pujsh = push
    puish = push
    puhsh = push
    puzsh = push
    pudsh = push
    puwsh = push
    puash = push
    puesh = push
    puxsh = push
    puszh = push
    pusdh = push
    puswh = push
    pusah = push
    puseh = push
    pusxh = push
    pusjh = push
    pusnh = push
    pusyh = push
    pusgh = push
    pusbh = push
    pusuh = push
    pushj = push
    pushn = push
    pushy = push
    pushg = push
    pushb = push
    pushu = push
    lush = push
    oush = push
    pysh = push
    pjsh = push
    pish = push
    phsh = push
    puzh = push
    pudh = push
    puwh = push
    puah = push
    pueh = push
    puxh = push
    pusj = push
    pusn = push
    pusy = push
    pusg = push
    pusb = push
    pusu = push

    upll = pull
    plul = pull
    ull = pull
    pll = pull
    pul = pull
    ppull = pull
    puull = pull
    pulll = pull
    opull = pull
    lpull = pull
    poull = pull
    plull = pull
    pjull = pull
    phull = pull
    pyull = pull
    piull = pull
    pujll = pull
    puhll = pull
    puyll = pull
    puill = pull
    pupll = pull
    puoll = pull
    pukll = pull
    pulpl = pull
    pulol = pull
    pulkl = pull
    pullp = pull
    pullo = pull
    pullk = pull
    oull = pull
    lull = pull
    pjll = pull
    phll = pull
    pyll = pull
    pill = pull
    pupl = pull
    puol = pull
    pukl = pull
    pulp = pull
    pulo = pull
    pulk = pull

    erset = reset
    rseet = reset
    reest = reset
    reste = reset
    eset = reset
    rset = reset
    reet = reset
    rest = reset
    rese = reset
    rreset = reset
    reeset = reset
    resset = reset
    reseet = reset
    resett = reset
    treset = reset
    dreset = reset
    freset = reset
    ereset = reset
    rteset = reset
    rdeset = reset
    rfeset = reset
    rseset = reset
    rweset = reset
    rerset = reset
    redset = reset
    rewset = reset
    rezset = reset
    rexset = reset
    reaset = reset
    reszet = reset
    resxet = reset
    resaet = reset
    reswet = reset
    resdet = reset
    resret = reset
    resert = reset
    resedt = reset
    resest = reset
    resewt = reset
    reseft = reset
    reseyt = reset
    resegt = reset
    resetr = reset
    resetf = reset
    resety = reset
    resetg = reset
    teset = reset
    deset = reset
    feset = reset
    eeset = reset
    rrset = reset
    rdset = reset
    rsset = reset
    rwset = reset
    reeet = reset
    rezet = reset
    rexet = reset
    reaet = reset
    rewet = reset
    redet = reset
    resrt = reset
    resdt = reset
    resst = reset
    reswt = reset
    reser = reset
    resef = reset
    resey = reset
    reseg = reset

	main = '!f() { git checkout main 2>/dev/null || git checkout master; }; f'
	a = !git add --all && git status
[push]
	autoSetupRemote = true
